




<div class="container">
  <h1>Book your venue in <%= @venue.location %>!</h1>
  <%= simple_form_for [@venue, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Add booking", class: "btn btn-flat" %>
<% end %>

<br>
<%= link_to "Back to venues", venue_path(@venue), class: "btn btn-flat"%>

</div>
