

<div class="featuring mt-3" id="allvenues">
  <div class="container-title">
  <h1>Discover our venues</h1>
  </div>
</div>




<div class="content">
    <div class="grid">

        <% @venues.each do |venue| %>
          <div class="card-trip">
            <%= cl_image_tag venue.photo.key, height: 300, width: 400, crop: :fill %>
              <%# <%= image_tag "https://picsum.photos/600/800" %>
                  <div class="card-product-infos">
                      <h2 id="card-name" >  <%= link_to venue.name, venue_path(venue), style: "" %> </h2>
                      <div id="card-specs">
                        <p id="location"> <%= venue.location %></p>
                        <p id="price"><%= venue.price %>€</p>
                        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                      </div>
                  </div>
          </div>
        <% end %>

    </div>
    <div id="map"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    All rights reserved, <strong>Gig Planner</strong> made by <strong>MAG®</strong>
  </div>
</div>
