

<div class="container">
  <h1><%= @venue.name %></h1>

   <%= link_to "return to all venues", venues_path(@venue), class: "btn btn-flat"%>
  <ul>
  <li><%= @venue.name %></li>
  <li><%= @venue.price%> </li>
  <li> <%= @venue.square_meter%> </li>
  <li> <%= @venue.capacity%> </li>
  <li> <%= @venue.location%> </li>
  <li> <%= @venue.status%> true = available </li>
  </ul>

  <%= link_to "Book this!", new_venue_booking_path(@venue), class: "btn btn-success"%>
  <%= link_to "Delete this Venue", venue_path(@venue), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this venue?" } %>


</div>
