

<div class="container">
  <h1 class="featuring"><%= @venue.name %></h1>

<div class="img-banner">
  <%= cl_image_tag @venue.photo.key, height: 300, width: 100, crop: :fill %>
</div>

  <div class="card">
    <div classs="list">
      <ul id="ul">
        <li>price: <%= @venue.price%>€</li>
        <li>size: <%= @venue.square_meter%>sqm.</li>
        <li>capacity: <%= @venue.capacity%> person</li>
        <li>city: <%= @venue.location%> </li>
        <%# <li> <%= @venue.status%>  </li>
      </ul>
    </div>

    <div class="buttons">
      <%= link_to "Book this!", new_venue_booking_path(@venue), class: "btn btn-success"%>
      <%= link_to "Delete this Venue", venue_path(@venue), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this venue?" } %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    All rights reserved, <strong>Gig Planner</strong> made by <strong>MAG®</strong>
  </div>
</div>