

<h1 class="featuring-header"><%= @venue.name %></h1>

<div class="container-show">
  <div class="img-banner">
    <%= cl_image_tag @venue.photo.key%>
  </div>

  <div class="card-show">
    <div classs="list">
      <div id="ul">
        <i class="fa-solid fa-money-bill"> </i> <%= @venue.price%> € </p> 
        <i class="fa-solid fa-building-columns"> </i>  <%= @venue.square_meter%> sqm. </p>
        <i class="fa-solid fa-users"> </i>  <%= @venue.capacity%> ppl. </p>
        <i class="fa-solid fa-location-dot"> </i>  <%= @venue.location%> </p>
      </div>
    </div>

    <div class="buttons">
      <% if @venue.user.id == current_user%>
        <%= link_to "Delete this Venue", venue_path(@venue), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this venue?" } %>
      <% else %>
        <%= link_to "Book this venue!", new_venue_booking_path(@venue), class: "btn btn-success", id: "button-book"%>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    All rights reserved, <strong>Gig Planner</strong> made by <strong>MAG®</strong>
  </div>
</div>